<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BBS"
         connectionString="Data Source=.\SQLEXPRESS; Database=BBS; User ID=sa; Password=shabi123"
         providerName=" System.Data.SqlClient"/>
  </connectionStrings>
</configuration>